<galaxy-animation ui-view="main" class="app-pane" effects="galaxy.in-out" in-out-item="sidebar">
  <div ui-view="parts" class="sidebar sidebar-1">
    <h3>Parts</h3>
    <div v-for="item in parts" class="part-item"
         v-bind:class="{'active': item === selectedNav}"
         v-on:click="selectPart(item)">
      <label>{{ item.attributes.name }}</label>
    </div>

    <h3>Surfaces</h3>
    <div v-for="item in surfaces" class="part-item"
         v-bind:class="{'active': item === selectedNav}"
         v-on:click="selectSurface(item)">
      <label>{{ item.id }}</label>
    </div>
  </div>

  <galaxy-animation ui-view="sub-parts" class="sidebar sidebar-2" effects="galaxy.in-out" in-out-item="part-item"
                    in-out-stagger=".01">
    <h3>{{ subNavsTitle }}</h3>
    <div v-for="item in subNavs" class="part-item"
         v-bind:class="{'active': item === selectedSubNav}"
         v-on:click="selectItem(item)">
      <label>{{ item.attributes.name }}</label>
    </div>
  </galaxy-animation>

  <galaxy-animation v-if="isOnSurface()" class="sidebar sidebar-3" effects="galaxy.in-out"
                    in-out-item="part-item"
                    in-out-stagger=".01">
    <h3>Colors</h3>
    <div v-for="color in colors" class="part-item"
         v-bind:class="{'active': color === selectedColor}"
         v-on:click="activeColor(color)">
      <label>{{ color.attributes.name }}</label>
    </div>
  </galaxy-animation>

  <galaxy-animation class="object-view" effects="galaxy.in-out" in-out-item="image">
    <img class="image" v-if="objectImageURL" v-bind:src="objectImageURL">
  </galaxy-animation>
</galaxy-animation>

<script>
  var state = Scope.import('state');
  var ProductModel = Scope.import('services/product-model.js');
  var product = new ProductModel(2);

  var app = new Vue({
    el: Scope.views[ 'main' ],
    data: {
      subNavs: [],
      parts: [],
      subParts: [],
      surfaces: [],
      materials: [],
      colors: [],
      currentSetup: {},
      objectImageURL: null,
      selectedNav: null,
      selectedSubNav: null,
      selectedPart: null,
      selectedSubPart: null,
      selectedSurface: null,
      selectedMaterial: null,
      selectedColor: null,
      subNavsTitle: ''
    },
    methods: {
      selectPart: function (part) {
        this.selectedPart = part;
        this.selectedNav = part;
        var subPart = product.getSubParts(part);

        this.subParts = subPart.items;
        this.selectedSubPart = subPart.selected;
        this.selectedSubNav = subPart.selected;

        this.subNavsTitle = 'Choices';
        this.setSubNavs(this.subParts);
      },
      selectSurface: function (surface) {
        this.selectedSurface = surface;
        this.selectedNav = surface;
        this.colors = [];
        var materials = product.getSubParts(surface);

        this.materials = materials.items;
        this.selectedSubNav = materials.selected;

        this.subNavsTitle = 'Materials';
        this.setSubNavs(this.materials);

        Vue.nextTick(function () {
          app.selectMaterial(materials.selected);
        });
      },
      selectMaterial: function (material) {
        this.selectedMaterial = material;
        var colors = product.getSubParts(material);
        this.colors = [];

        Vue.nextTick(function () {
          app.colors = colors.items;
          app.selectedColor = colors.selected;
          product.activeItem(app.selectedSurface, material, true);
        });
      },
      setSubNavs: function (list) {
        app.subNavs = [];
        Vue.nextTick(function () {
          app.subNavs = list;
        });
      },
      selectItem: function (item) {
        if (item.type === 'materials') {
          this.selectMaterial(item);
        } else {
          product.activeItem(this.selectedPart, item);
        }

        this.selectedSubNav = item;
      },
      activeItem: function (subPart) {
        this.selectedSubPart = subPart;
        product.activeItem(this.selectedPart, subPart);
      },
      activeColor: function (color) {
        this.selectedColor = color;
        product.activeItem(this.selectedMaterial, color);
      },
      isOnSurface: function () {
        if (this.selectedNav && this.selectedNav.type === 'surfaces') return true;
        return false;
      }
    }
  });

  state.onStart = function () {
    console.log(product);
    product.parts.observe(function (parts) {
      app.parts = parts;
    });

    product.surfaces.observe(function (surfaces) {
      app.surfaces = surfaces;
    });

    product.imageURL.observe(function (path) {
      console.log(path);
      app.objectImageURL = null;

      var image = new Image();
      image.onload = function () {
        app.objectImageURL = 'https://apimer.3dimerce.mybit.nl/' + path;
      };
      image.src = 'https://apimer.3dimerce.mybit.nl/' + path;
    });
  }

</script>
