html, body {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.app-pane {
  position: relative;
  background-color: #e6eaef;
  width: 100%;
  height: 100%;
}

.sidebar-1 {
  width: 100px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(#000, .1);
}